body {
    padding: 0;
    margin: 0;
    background-color: #454d6b;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin: 0 auto;
    list-style: none;
}

.menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.menu a:hover {
    color: black;
}

#registro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {
    background-color: rgba(19, 19, 19, 0.3);
    padding: 40px;
    border-radius: 2px;
    width:280px;
}

.card-header {
    padding-bottom: 50px;
    opacity: 0.8;
    color: #fff;
}

.card-header::after {
    content: "";
    width: 70px;
    /* height: 1px; */
    background-color: #fff;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}

.card-content label {
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
}

.card-content-area {
    display: flex;
    flex-direction: column;
    padding:10px 0;
}

.card-content-area input {
    margin-top: 10px;
    padding:0 5px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #fff;
}

.card-footer {
    color: #fff;
    display: flex;
    flex-direction: column;
}

.card-footer .submit{
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    background-color: #666d88;
    border:none;
    color:#e1e1e1;
    margin: 10px 0;
}

.card-footer .newsletter {
    text-align: left;
    font-size: 12px;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
}